.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  width: 100%;
  background-color: burlywood;
}

#title {
  margin-left: 20px;
  
  flex-grow: 8;
}

#nav {
  flex-grow: 1;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#books-list { 
  display: flex;
  flex-wrap: wrap;
  margin: 30px 100px ;
  align-content: space-around;
  width: 80%;
}

.book-card {
  margin: 30px;
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
}


.borrow-btn {
  border: none;
  font-size: 25px;
}

.book-title {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-size: 26px;
  text-align: center;
}
